<% @settlements.each do |settlement| %>
<p><%= link_to settlement.name, settlement %> - <%= settlement.category %></p>
<% end -%>
<p><%= link_to "Добавить", settlement_new_path %></p>

<% @settlements. to_a %>